*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
  
}
.card-header{
  font-size: 150%;
}
.cardCourses{
  min-height: 100%;

 
  
}
.container-reg-form{
  
  background: rgba( 63, 94, 251, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  max-width: 80%;
  

}
.reg-form{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.button-form{
  height: 35px;
	width: 110px;
	border-radius: 35px;
	color: white;
	border: 1px solid #c2195b;
	padding: 0;


}





